<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Club Points || GUDLFT</title>
    </head>
    <body>
        <h2>Club points summary</h2>
        <table style='border-collapse: collapse;'>
            <tr>
                <th style='border:1px solid black; padding:5px;'>Club</th>
                <th style='border:1px solid black; padding:5px;'>Available points</th>
            </tr>
            {% for club in clubs %}
            <tr>
                <td style='border:1px solid black; padding:5px;'>{{ club.name }}</td>
                <td style='border:1px solid black; padding:5px; text-align:center;'>{{ club.points }}</td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <a href="{{ url_for('index') }}">Return to index</a>
    </body>
</html>